    <div class="profile-wrap">
      <div class="row">
        <% if @character.image == nil then @character.image = "http://cumbrianrun.co.uk/wp-content/uploads/2014/02/default-placeholder.png"%><% end %>
        <!-- Profile Information -->
        <div class="col-sm-5">
          <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading name"><%= @character.name %></div>
            <div class="panel-body">
              <img class="portrait" src="<%= @character.image %>"/>
            </div>

            <!-- List group -->
            <ul class="list-group">
              <% if @character.birthday != "" %>
                <li class="list-group-item">
                  Birthday: <%= @character.birthday %>
                </li>
              <% end %>
              <li class="list-group-item">
                Gender: <%= @character.gender %>
              </li>
              <% if @character.origin != ""%>
              <li class="list-group-item">
                Origin: <%= @character.origin %>
              </li>
              <% end %>
              <% if @character.quote != ""%>
              <li class="list-group-item">
                Quote: <em><%= @character.quote %></em>
              </li>
              <% end %>
              <% if @character.nickname != "" %>
              <li class="list-group-item" %>
                Nickname: <%= @character.nickname %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">About <%= @character.name %></h3>
            </div>
            <div class="panel-body">
              <%= @character.bio %>
            </div>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Likes</h3>
            </div>
            <ul class="list-group">
              <% likes = [] %>
              <% @likes.each do |l| %>
                <% if l.character_id == @character.id %>
                <% likes << l.like %>
                <li class="list-group-item"><%= l.like %></li>
                <% end %>
              <% end %>
              <% if likes.length == 0%>
                <li class="list-group-item">There are currently no likes</li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Dislikes</h3>
            </div>
            <ul class="list-group">
              <% dislikes = [] %>
              <% @dislikes.each do |d| %>
                <% if d.character_id == @character.id %>
                <% dislikes << d.dislike %>
                <li class="list-group-item"><%= d.dislike %></li>
                <% end %>
              <% end %> 
              <% if dislikes.length == 0 %>
                <li class="list-group-item">There are currently no dislikes</li>
              <% end %>           
            </ul>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Appearances</h3>
            </div>
            <ul class="list-group">
              <% @appearances.each do |a| %>
                <% if a.character_id == @character.id %>
                <li class="list-group-item"><%= a.appearance %></li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="col-sm-6">
            <form action="/delete" method="POST">
            <input type="hidden" name="id" value="<%= @character.id %>"/>
            <button type="submit" class="btn btn-default cancel-btn">Delete</button>
            </form>
          </div>
          <div class="col-sm-6">
            <a href="/character/edit/<%= @character.id.to_s %>">
            <button type="submit" class="btn btn-default create-btn">Edit</button>
            </a>
          </div>
        </div>

        </div>
      </div>
