<!doctype html>
<html>
  <head>
    <title>Waifu Chat - <%=@character%></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index_style.css">
  </head>
  <body>
    <div class="header">
    Waifu Chat
    </div>
    
    <div class="profile-wrap">
      <% @characters.each do |c| %>
      <% if c.image == nil then c.image = "http://cumbrianrun.co.uk/wp-content/uploads/2014/02/default-placeholder.png" end %>
        <div class="col-xs-6 col-md-3">
          <a href=<%= '/character/' + c.id.to_s %> class="thumbnail">
            <img src="<%= c.image %>" alt="<%= c.name %>">
          </a>
          <center><a href=<%= '/character/' + c.id.to_s %>><h3><%= c.name %></h3></a></center>
        </div>
      <% end %>
    </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
