  <style>
    body{
  background: url(http://wallnoy.com/wp-content/uploads/2014/10/cool_background_57.jpg);
}
  </style>
<div class="dash">
  <div class="col-sm-12 main">
    <div><h1 class="username"><%= @user.username %></h1></div>
    <div class="col-sm-3 profile">
      <img src="<%= @user.image %>"/>
      
      <div class="col-sm-12">
        <ul class="list-group">
          <li class="list-group-item"><h3><%= @user.country %></h3></li>
          <li class="list-group-item"><p><%= @user.email %></p></li>
          <br>
          <li class="list-group-item">
            <p><%=  @user.about %></p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="message-container col-sm-12">
      </div>
      <div class="col-sm-10">
        <textarea class="form-control" rows="4"></textarea>
      </div>
      <div class="col-sm-2 btn btn-default message-btn">Send</div>
    </div>
  </div>
  </div>