
    <div class="profile-wrap col-sm-10">
      <ul class="list-group">
        <li class="list-group-item"><span class="label label-info "><%=@users.length%> Users</span><a href="/new_character">
      </ul>
      <% @users.each do |c| %>
      <% @c = c %>
      <% if c.image == nil then c.image = "http://dfwdecals.com/wp-content/uploads/2012/05/miku-hatsune.jpg" end %>
        <div class="col-xs-6 col-md-3">
          <a href=<%= '/user/' + c.id.to_s %> class="thumbnail">
            <img src="<%= c.image %>" alt="<%= c.username %>">
          </a>
          <center><a href=<%= '/user/' + c.id.to_s %>><h3><%= c.username %></h3></a></center>
        </div>
      <% end %>
    </div>

